:root {
  --primary-color: #6e6a6d;
}

header {
  height: 100vh;
  width: 100vw;
}
.header__container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.header__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2b2b2b;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png"),
    linear-gradient(45deg, #2b2b2b 17%, #2b2b2b 40%, #3c3c3c 100%);
  opacity: 0.18;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.header__content__container {
  width: 80vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}
.header__circle1,
.header__circle2,
.header__circle3,
.header__circle4,
.header__circle5 {
  width: 500px;
  height: 500px;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
}
.header__circle1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 50%;
  animation-name: circle1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.header__circle2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(107, 104, 104);
  border-radius: 50%;
  transform: scale(0.8);
  animation: circle2 2s;
  z-index: -1;
  opacity: 0.3;
}
.header__circle3::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 1px dashed rgb(107, 104, 104);
  transform: scale(1.1);
  border-radius: 50%;
  animation-name: circle3;
  animation-duration: 2s;
  z-index: -1;
  opacity: 0.3;
}
.header__circle4::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(107, 104, 104);
  transform: scale(1.35);
  border-radius: 50%;
  animation: circle4 2s, color4 1s forwards infinite alternate;
  /* animation-duration: 2s; */
  /* animation-delay: 1.5s; */
  z-index: -1;
  opacity: 0.2;
}
.header__circle5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 1px dashed rgba(107, 104, 104);
  transform: scale(1.65);
  border-radius: 50%;
  animation: circle5 2s, spin 30s infinite;
  /* animation-duration: 2s; */
  /* animation-delay: 2s; */
  z-index: -1;
  opacity: 0.2;
}
.h1__con {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.h1__con > h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 9%;
  font-size: 50px;
}
@media (max-width: 600px) {
  .h1__con > h1 {
    font-size: 40px;
  }
}
.h1__con > p {
  color: var(--primary-color);
  font-family: "Stick No Bills", sans-serif;
  letter-spacing: 6px;
  text-transform: uppercase;
  position: absolute;
  bottom: 25%;
}
.h1__con > img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.h1__con > ul {
  list-style: none;
  position: absolute;
  bottom: 1%;
}
.h1__con > ul > li {
  display: inline;
  color: white;
  padding: 8px;
}

.header__cicle1 > .h1__con {
  position: absolute;
  background-color: transparent;
  bottom: 15%;
}

@keyframes circle1 {
  0% {
    transform: scale(0.1);
    opacity: 0.2;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
@keyframes circle2 {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 0.2;
    transform: scale(0.8);
  }
}
@keyframes circle3 {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 0.3;
    transform: scale(1.1);
  }
}
@keyframes circle4 {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 0.3;
    transform: scale(1.35);
  }
}
@keyframes circle5 {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 0.2;
    transform: scale(1.65);
  }
}

@keyframes color4 {
  0% {
    border-color: rgb(255, 60, 6);
  }
  100% {
    border-color: orange;
  }
}
/* @keyframes spin {
  0% {
    transform: scale(1.65);

    transform: rotate(1deg);
  }
  100% {
    transform: scale(1.65);

    transform: rotate(360deg);
  }
} */
