#contact {
  position: relative;
}
.contact__con {
  background-color: #191919;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 120px;
  padding: 100px 20px 120px;
}

.contact__chi__con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact__chi__con > h1 {
  color: #717071;
  font-size: 60px;
  font-family: "Roboto", sans-serif;
}

.contact__chi__con > p {
  color: #717071;

  padding-top: 30px;
  padding-bottom: 40px;
  max-width: 600px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.contact__chi__con > a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #ff6f00;
  color: black;
  border-radius: 5px;
  font-family: "Kalam", cursive, sans-serif;
  transition: 0.3s;
}
.contact__chi__con > a:hover {
  background-color: #ffae00;
}
.contact__con > img {
  object-fit: contain;
  color: orange;
}

hr {
  position: absolute;
  top: 0;
  left: 46%;
  width: 6rem;
  border-style: none;
  border-bottom: 10px dotted rgba(48, 48, 48, 0.427);
  margin: auto;
}
@media (max-width: 500px) {
  hr {
    left: 40%;
  }
}
