*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #6e6a6d;
  --bk-color: #1e1d1e;
  --skill: rgb(0, 238, 255);
}
html {
  scroll-behavior: smooth;
}
body {
  /* font-family here... */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #080808;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
